<p-tabView styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-book"></i>
      <span>&nbsp;To Do List</span>
    </ng-template>

    <div style="padding: 5px">
      <button id="addButton" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-sm"
        (click)="addDialoag()" style="margin: 5px;"></button>
    </div>

    <div>
      <p-card *ngFor="let task of toDoTasks;"
        [style]="{width: '360px', margin: '10px',float: 'left', backgroundColor:getBackGroupColer(task.priority, task.completed)}"
        styleClass="p-card-shadow">
        
        <ng-template pTemplate="title">
          <p style="word-break: break-all;" [style.textDecoration]="task.completed === 'Y' ? 'line-through' : ''">{{ task.message }}</p>
        </ng-template>
        
        <ng-template pTemplate="content">
          <p *ngIf="task.reminderTime">{{ task.reminderTime | date : 'yyyy-MM-dd HH:mm'}} 
            <p-image *ngIf="task.completed === 'N' && isExpired(task.reminderTime)" src="assets/images/expired.png" width="100"></p-image>
          </p>
        </ng-template>

        <ng-component *ngIf="task.completed === 'Y' then completed else notComplete"></ng-component>

        <ng-template #notComplete>
          <ng-template pTemplate="footer">
            <button pButton type="button" label="Done" icon="pi pi-check" class="p-button-success p-button-sm"
              (click)="done(task.id)" style="margin: 5px;"></button>
            <button pButton type="button" label="Edit" icon="pi pi-pencil" class="p-button-warning p-button-sm"
              (click)="editDialog(task)" style="margin: 5px;"></button>
            <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
              (click)="delete(task.id)" style="margin: 5px;"></button>
          </ng-template>
        </ng-template>

        <ng-template #completed>
          <ng-template pTemplate="footer">
            <button pButton type="button" label="Redo" icon="pi pi-undo" class="p-button-success p-button-sm"
              (click)="redo(task.id)" style="margin: 5px;"></button>
          </ng-template>
        </ng-template>

      </p-card>
    </div>

  </p-tabPanel>
</p-tabView>

<p-dialog [header]="action" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}"
  [contentStyle]="{'overflow': 'visible'}">
  <div style="padding-bottom:10px;">
    <h4 style="width: 10%;float:left;margin: 10px;">Message</h4>
    <input id="addInput" type="text" style="width: 70%;" pInputText [(ngModel)]="inputMessage">
  </div>
  <div style="padding-bottom:10px;">
    <h4 style="width: 10%;float:left;margin: 10px;padding-right:10px;">Priority</h4>
    <p-dropdown [options]="priorities" [(ngModel)]="inputPriority"></p-dropdown>
  </div>
  <div>
    <h4 style="width: 10%;float:left;margin: 10px;padding-right:10px;">Reminder</h4>
    <p-calendar [(ngModel)]="inputReminderTime" dateFormat="yy-mm-dd" [showTime]="true" inputId="time"
      [showButtonBar]="true">
    </p-calendar>
    <a style="color:red;padding-left:10px;">{{ validationFailedMessage }}</a>
  </div>
  <ng-template pTemplate="footer">
    <button id="saveButton" pButton type="button" label="Save" icon="pi pi-save" [disabled]="inputMessage.trim() === ''"
      class="p-button-sm" (click)="action === ADD ? add() : edit()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Error" p-dialog-titlebar-icon [(visible)]="displayErrorDialog" [modal]="true"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div>
    <h5 style="color:red;padding-left:10px;">{{ serverErrorMessage }}</h5>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="close" icon="pi pi-save"
      class="p-button-rounded p-button-info p-button-sm" (click)="closeErrorDialog()"></button>
  </ng-template>
</p-dialog>