<p-tabView styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-book"></i>
      <span>&nbsp;To Do</span>
    </ng-template>

    <div style="padding: 5px">
      <button id="addButton" pButton type="button" label="Add" icon="pi pi-plus" class="p-button-sm"
        (click)="addDialoag()" style="margin: 5px;"></button>
    </div>
    <div>
      <p-card *ngFor="let task of toDoTasks;"
        [style]="{height:'130px', margin: '10px', backgroundColor:getBackGroupColer(task.priority, task.completed)}"
        styleClass="p-card-shadow">
        <button *ngIf="isExpired(task.reminderTime)" (click)="postponed(task)" pButton type="button" icon="pi pi-bell"
          pTooltip="Postponed 30 minutes" class="p-button-rounded p-button-warning"
          style="margin-right: 10px; float: left"></button>

        <div style="float: left">
          <p-tag *ngIf="isExpired(task.reminderTime)" [style]="{marginRight: '10px'}" severity="danger">
            !!!TIME IS UP!!!
          </p-tag>

          <ng-container [ngSwitch]="task.priority">
            <p-tag *ngSwitchCase="'HIGH'" [style]="{width: '60px', textAlign: 'center'}" [value]="task.priority"
              severity="danger"></p-tag>
            <p-tag *ngSwitchCase="'MEDIUM'" [style]="{width: '60px', textAlign: 'center'}" [value]="task.priority"
              severity="warning"></p-tag>
            <p-tag *ngSwitchCase="'LOW'" [style]="{width: '60px', textAlign: 'center'}" [value]="task.priority"
              severity="success"></p-tag>
          </ng-container>

          <p-tag *ngIf="task.reminderTime" [style]="{backgroundColor: 'gray', marginLeft: '10px'}" icon="pi pi-clock">
            REMINDER: {{ task.reminderTime | date : 'yyyy-MM-dd HH:mm'}}
          </p-tag>

          <p style="font: 20px bold;" [style.textDecoration]="task.completed === completedEnum.Y ? 'line-through' : ''">
            {{ task.message }}</p>
        </div>

        <div style="float: right">
          <button pButton type="button" label="Done" icon="pi pi-check" class="p-button-success p-button-sm"
            (click)="done(task.id)" style="margin: 5px;"></button>
          <button pButton type="button" label="Edit" icon="pi pi-pencil" class="p-button-warning p-button-sm"
            (click)="editDialog(task)" style="margin: 5px;"></button>
          <button pButton type="button" label="Delete" icon="pi pi-trash" class="p-button-danger p-button-sm"
            (click)="delete(task.id)" style="margin: 5px;"></button>
        </div>

      </p-card>
    </div>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-book"></i>
      <span>&nbsp;Done</span>
    </ng-template>

    <div>
      <p-card *ngFor="let task of completedTasks;"
        [style]="{height:'130px', margin: '10px', backgroundColor:getBackGroupColer(task.priority, task.completed)}"
        styleClass="p-card-shadow">

        <div style="float: left">
          <p style="word-break: break-all; text-decoration: line-through;">{{ task.message }}</p>
        </div>

        <div style="float: right">
          <button pButton type="button" label="Reopen" icon="pi pi-undo" class="p-button-success p-button-sm"
            (click)="reopen(task.id)" style="margin: 5px;"></button>
        </div>

      </p-card>
    </div>
  </p-tabPanel>
</p-tabView>

<p-dialog [header]="action" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}"
  [contentStyle]="{'overflow': 'visible'}">
  <div style="padding-bottom:10px;">
    <h4 style="width: 10%;float:left;margin: 10px;">Message</h4>
    <input id="addInput" type="text" style="width: 70%;" pInputText [(ngModel)]="inputMessage">
  </div>
  <div style="padding-bottom:10px;">
    <h4 style="width: 10%;float:left;margin: 10px;padding-right:10px;">Priority</h4>
    <p-dropdown [options]="priorities" [(ngModel)]="inputPriority" optionLabel="key" optionValue="value"></p-dropdown>
  </div>
  <div>
    <h4 style="width: 10%;float:left;margin: 10px;padding-right:10px;">Reminder</h4>
    <p-calendar [(ngModel)]="inputReminderTime" dateFormat="yy-mm-dd" [showTime]="true" inputId="time"
      [showButtonBar]="true">
    </p-calendar>
    <a style="color:red;padding-left:10px;">{{ validationFailedMessage }}</a>
  </div>
  <ng-template pTemplate="footer">
    <button id="saveButton" pButton type="button" label="Save" icon="pi pi-save" [disabled]="inputMessage.trim() === ''"
      class="p-button-sm" (click)="action === ADD ? add() : edit()"></button>
  </ng-template>
</p-dialog>

<p-dialog header="Error" p-dialog-titlebar-icon [(visible)]="displayErrorDialog" [modal]="true"
  [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
  <div>
    <h5 style="color:red;padding-left:10px;">{{ serverErrorMessage }}</h5>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" label="close" icon="pi pi-save" class="p-button-sm"
      (click)="hideErrorDialog()"></button>
  </ng-template>
</p-dialog>